NODE_ENV=production
PORT=8080
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/liholiswano
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
CORS_ORIGIN=https://samboenough25-eng.github.io
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_CONTRACT_ID=CAGSH4W3EYKOBHV6TUZ2WMKHKMZP6NNID5PLERFEV2EG6TRZWBZRKLY
KYC_PROVIDER=stub
PAYMENT_PROVIDER=stellar